<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "爱纯净",
                    desc: "纯净版系统*Win10 纯净版 64 位*纯净版 XP 系统-爱纯净官网",
                    link: "http://www.aichunjing.com/",
                    img: "/logoImg/chunjing.png",
                  },
                  {
                    title: "万有网",
                    link: "https://wanyou.icu/",
                    img: "/logoImg/wanyou.png",
                    desc:'万有网赚_免费分享网络赚钱项目'
                  },
                  {
                    title: "QQ前线乐园",
                    link: "https://www.yijingying.com/",
                    img: "/logoImg/qqfront.ico",
                    desc:'QQ 前线乐园 - 专注于分享，分享好资源'
                  },
                  {
                    title: "易破解",
                    link: "https://www.ypojie.com/",
                    img: "/logoImg/yipojie.ico",
                    desc:'亿破姐|给你所需要的内容'
                  },
                  {
                    title: "吾爱破解",
                    link: "https://www.52pojie.cn/",
                    img: "/logoImg/wuai.png",
                    desc:'吾爱破解 - LCG - LSG|安卓破解|病毒分析'
                  },
                  {
                    title: "果壳剥壳",
                    link: "https://www.ghxi.com/",
                    img: "/logoImg/guoke.png",
                    desc:'果核剥壳 - 互联网的净土'
                  },
                  {
                    title: "六音",
                    link: "http://sixyin.com/?orderby=rand",
                    img: "/logoImg/liuyin.png",
                    desc:'六音 (sixyin.com)'
                  },
                  {
                    title: "生命线",
                    link: "https://smxr.com/",
                    img: "/logoImg/shengming.png",
                    desc:'生命线电脑技术'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  