<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "简历下载",
                    desc: "简历模板免费下载*个人简历 WORD 模板*可编辑简历制作模板免费\_简历下载",
                    link: "https://jianlixiazai.cn/",
                    img: "/logoImg/jianlixiazai.ico",
                  },
                  {
                    title: "极简简历",
                    link: "https://www.polebrief.com/edit",
                    img: "/logoImg/polebrief.png",
                    desc:'简历模板*个人简历模板*简历模板下载*简历模板免费下载*简历模板下载 word 格式'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  