<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "比格PPT",
                    desc: "PPT 模板|一份图表类 PPT：挑起 KPI 的重担 | 逼格 PPT",
                    link: "http://www.tretars.com/129-ppt.html",
                    img: "/logoImg/bige.png",
                  },
                  {
                    title: "PPT超级市场",
                    link: "https://www.pptsupermarket.com/",
                    img: "/logoImg/superppt.ico",
                    desc:'PPT 超级市场官网-PPT 模板免费下载'
                  },
                  {
                    title: "PPT宝藏",
                    link: "http://www.pptbz.com/",
                    img: "/logoImg/pptbz.ico",
                    desc:'PPT 模板下载_免费 PPT 模板下载_PPT 宝藏'
                  },
                  {
                    title: "变色龙PPT",
                    link: "https://www.ppt20.com/",
                    img: "/logoImg/bianselong.png",
                    desc:'变色龙 PPT-国内原创 PPT 模板交易平台'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  