// $accentColor = #424242
// $accentColor = #1062b4
// $textColor = #232321

// 颜色
$accentColor = #4e98bb
$textColor = #232321
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #5cb85c
$badgeWarningColor = #ffd51e
$badgeErrorColor = #d95376

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 890px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


$MQWide ?= 1440px
$MQMobile ?= 768px

body{
    background-size:cover;
    background-attachment:fixed;
    color #000;
    cursor: url('/img/cursor.png');
}
header{
    background:rgba(255,255,255,.5)
}


main .content__default{
    background:rgba(255,255,255,.7);
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

aside{
    background:rgba(255,255,255,.7)
}

td,th{
    border:1px solid rgb(158, 157, 157) !important
}
table{
    border-collapse: collapse;
}
.sidebar-group-items>li>.sidebar-link{
    font-weight:900 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.site-name,.links{
    background:rgba(255,255,255,0) !important 
}
.sidebar-links{
    user-select: none;    
}
.show-cat,.hide-cat{
    right: 50px !important;
}
body{
    cursor:url(/img/normal.cur),auto
}
a:hover{
    cursor:url(/img/link.cur),auto
}

.color-picker{
    display: none
}
.search-box input{
    border 1.5px solid skyblue    
}



html{
   --default-color-10: rgba(255, 255, 255, 1) !important;
    --default-color-9: rgba(255, 255, 255, .9)  !important;
     --default-color-8: rgba(255, 255, 255, .8)  !important; 
     --default-color-7: rgba(255, 255, 255, .7)  !important;
      --default-color-6: rgba(255, 255, 255, .6)  !important;
       --default-color-5: rgba(255, 255, 255, .5)  !important; 
       --default-color-4: rgba(255, 255, 255, .4)  !important;
        --default-color-3: rgba(255, 255, 255, .3)  !important;
         --default-color-2: rgba(255, 255, 255, .2)  !important;
          --default-color-1: rgba(255, 255, 255, .1)  !important; 
          --background-color: #fff  !important; 
          --box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2)  !important; 
          --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.2)  !important; 
          --text-color: #2c3e50  !important; 
          --border-color: #eaecef  !important; 
          --code-color: rgba(27, 31, 35, 0.05)  !important; 
          --mask-color: #888  !important;
}


iframe{
 width:100%;
 height:500px
}
