<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "文叔叔",
                    desc: "文叔叔 - 传文件，找文叔叔（大文件、永不限速）",
                    link: "https://www.wenshushu.cn/",
                    img: "/logoImg/wen.ico",
                  },
                  {
                    title: "123云盘",
                    link: "https://www.123pan.com/",
                    img: "/logoImg/123pan.ico",
                    desc:'新用户免费注册送2T超大空间，上传下载不限速，分享免登录下载'
                  },
                  {
                    title: "阿里云盘",
                    link: "https://www.aliyundrive.com/",
                    img: "/logoImg/ali.ico",
                    desc:'阿里云盘 - 你的数字世界'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  