<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "千帆搜索",
                    desc: "千帆搜索 - 资源超丰富的电报中文搜索引擎，Telegram (TG) 资源搜索网站！",
                    link: "https://tg.qianfan.app/",
                    img: "/logoImg/qianfan.png",
                  },
                  {
                    title: "奈斯搜索",
                    link: "https://www.niceso.fun/",
                    img: "/logoImg/nice.png",
                    desc:'奈斯搜索 - 资源超丰富的阿里云盘资源搜索网站！'
                  },
                  {
                    title: "Up云搜",
                    link: "hhttps://www.upyunso.com/",
                    img: "/logoImg/upyun.png",
                    desc:'UP 云搜 - 最全阿里云盘资源搜索神器 '
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  