<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "天空影视",
                    desc: "免费观看各大影视",
                    link: "http://tkznp.com/",
                    img: "/logoImg/tkys.ico",
                  },
                  {
                    title: "555影视",
                    link: "https://555dianying.cc/",
                    img: "/logoImg/555.png",
                    desc:'免费观看各大影视'
                  },
                  {
                    title: "茶杯狐",
                    link: "https://cupfox.app/",
                    img: "/logoImg/cupfox.png",
                    desc:'免费观看各大影视'
                  },
                  {
                    title: "MINI4k",
                    link: "https://www.mini4k.com/",
                    img: "/logoImg/mini4k.ico",
                    desc:'免费观看各大影视'
                  },
                  {
                    title: "JustLive",
                    link: "http://live.yj1211.work/index/home/recommend",
                    img:'/logoImg/justaliveico.ico',
                    desc:'聚合虎牙、斗鱼、哔哩哔哩直播平台的网站'
                  },
                  {
                    title: "樱花动漫",
                    link: "http://www.yinghuacd.com/",
                    img:'/logoImg/cherry.ico',
                    desc:'免费观看动漫'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  