<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "贪吃蛇",
                    desc: "一个H5的贪吃蛇小游戏",
                    link: "https://playsnake.org/",
                    img: "/logoImg/snakegame.png",
                  },
                  {
                    title: "Bouncy Balls",
                    link: "https://bouncyballs.org/",
                    img: "/logoImg/ball.png",
                    desc:'物理碰撞粒子球'
                  },
                  {
                    title: "找到这只牛",
                    link: "https://findtheinvisiblecow.com/",
                    img: "/logoImg/cow.png",
                    desc:'鼠标离越近，声音越大，直到找到这只牛'
                  },
                  {
                    title: "3D 台球",
                    link: "http://www.heyzxz.me/pcol/",
                    img: "/logoImg/pcol.png",
                    desc:'一款3D页面台球游戏'
                  },
                  {
                    title: "HexGl",
                    link: "http://hexgl.bkcore.com/play/",
                    img: "/logoImg/hex.png",
                    desc:'一款3D页面飞机飞行游戏'
                  },
                  {
                    title: "Nazo Game",
                    link: "https://nazo.one-story.cn/",
                    img: "/logoImg/nazo.png",
                    desc:'一款程序员解谜游戏'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  