<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "刘志进实验室",
                    desc: "一个免费听歌的网站",
                    link: "https://fm.liuzhijin.cn/?r9t3x3k0k8u0y4q4",
                    img: "/logoImg/liu.ico",
                  },
                  {
                    title: "mmplayer",
                    link: "https://netease-music.fe-mm.com/#/music/playlist",
                    img: "/logoImg/mmplayer.png",
                    desc:'一个免费听歌的网站'
                  },
                  {
                    title: "刘明野",
                    link: "https://tools.liumingye.cn/music/?page=searchPage#/",
                    img: "/logoImg/liumingye.ico",
                    desc:'一个免费听歌的网站'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  