<template>
  <CllectWeb :list="list" />
</template>

<script>
import CllectWeb from "../CllectWeb.vue";
export default {
  components: {
    CllectWeb,
  },
  data() {
    return {
      list: [
        {
          title: "前端",
          children: [
            {
              title: "前端框架",
              children: [
                {
                  title: "TEMPMAIL",
                  desc: "临时邮箱，不用再担心垃圾邮件，广告邮件，黑客和机器人攻击。让您真实的邮箱保持干净和安全。Temp Mail提供临时、安全、匿名、免费的一次性电子邮件地址。",
                  link: "https://temp-mail.org/zh/",
                  img: "/logoImg/tempemail.png",
                },
                {
                  title: "临时邮箱",
                  link: "https://www.linshiyouxiang.net/",
                  img: "/logoImg/linshiemail.png",
                  desc: "提供临时邮箱，10分钟邮箱，临时邮，临时电子邮箱，24小时邮箱，一次性邮箱，匿名邮箱，安全邮箱",
                },
                {
                  title: "临时邮箱",
                  link: "https://www.linshi-email.com/",
                  img: "/logoImg/linshiemail2.ico",
                  desc: "不用再担心垃圾邮件，广告邮件，黑客和机器人攻击。让您真实的邮箱保持干净和安全。临时email提供临时、安全、匿名、免费的一次性电子邮件地址。邮件将可以在详情页面手动删除。",
                },
                {
                  title: "Crx搜搜",
                  link: "https://www.crxsoso.com/",
                  img: "/logoImg/crxsousou.png",
                  desc: "一个牛X的扩展和应用商店",
                },
                {
                  title: "极简插件",
                  link: "https://chrome.zzzmh.cn/#/index",
                  img: "/logoImg/jjcj.ico",
                  desc: "浏览器插件商店，免费无需翻墙",
                },
                {
                  title: "生成微信对话",
                  link: "http://www.12tool.com/",
                  img: "/logoImg/wchat.png",
                  desc: "在线生成微信对话，支付宝转账等功能",
                },
                {
                  title: "万物皆可摸",
                  link: "https://benisland.neocities.org/petpet/",
                  img: "/logoImg/momo.png",
                  desc: "上传任何图片生成抚摸表情包",
                },
              ],
            },
          ],
        },
      ],
    };
  },
};
</script>
