<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "aconvert",
                    desc: "在线转换文档，图像，视频，音频文件",
                    link: "https://www.aconvert.com/cn/",
                    img: "/logoImg/aconvert.png",
                  },
                  {
                    title: "易转换",
                    link: "https://www.easeconvert.com/",
                    img: "/logoImg/yizhuanhuan.ico",
                    desc:'免费文件转换工具，支持 PDF、Office、知网 CAJ、CAD 等'
                  },
                  {
                    title: "iLovePDF",
                    link: "https://www.ilovepdf.com/zh-cn",
                    img: "/logoImg/ilovepdf.png",
                    desc:'为 PDF 爱好者提供的 PDF 文件在线处理工具'
                  },
                  {
                    title: "Zamzar",
                    link: "hhttps://www.zamzar.com/",
                    img: "/logoImg/zamzar.ico",
                    desc:'视频转换器，音频转换器，图像转换器，电子书转换器'
                  },
                  {
                    title: "All to All",
                    link: "https://www.alltoall.net/",
                    img: "/logoImg/alltoall.jpg",
                    desc:'PDF 转 Word | 免费在线 PDF 转 Word | PDF 转 Word 转换器'
                  },
                  {
                    title: "PDF派",
                    link: "https://www.pdfpai.com/",
                    img: "/logoImg/pdfpai.ico",
                    desc:'pdf 转 word*pdf 转换成 excel_pdf 转换成 ppt *纬来 PDF 转换器'
                  },
                  {
                    title: "Convertio",
                    link: "https://convertio.co/zh/",
                    img: "/logoImg/convertio.png",
                    desc:'文件转换器'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  