<template>
  <CllectWeb :list="list" />
</template>

<script>
import CllectWeb from "../CllectWeb.vue";
export default {
  components: {
    CllectWeb,
  },
  data() {
    return {
      list: [
        {
          title: "前端",
          children: [
            {
              title: "前端框架",
              children: [
                {
                  title: "ProcessOn",
                  desc: "专业强大的作图工具，支持多人实时在线协作，可用于原型图、UML、BPMN、网络拓扑图等多种图形绘制",
                  link: "https://www.processon.com/",
                  img: "/logoImg/processon.ico",
                },
                {
                  title: "草料二维码",
                  desc: "设计个性二维码",
                  link: "https://cli.im/",
                  img: "/logoImg/caoliao.ico",
                },
                {
                  title: "改图神器",
                  desc: "在线修改图片大小尺寸；免费抠图照片处理工具 - AI 改图神器",
                  link: "https://img.logosc.cn/",
                  img: "/logoImg/gaitu.png",
                },
                {
                  title: "removebg",
                  link: "https://www.remove.bg/zh",
                  img: "/logoImg/removebg.png",
                  desc: "在线抠图软件_图片去除背景 ",
                },
                {
                  title: "趣作图",
                  link: "https://www.quzuotu.com/home",
                  img: "/logoImg/qutu.ico",
                  desc: "免费抠图_证件照",
                },
                {
                  title: "BgSub",
                  link: "https://bgsub.cn/",
                  img: "/logoImg/bgsub.png",
                  desc: "消除或者替换图像背景",
                },
                {
                  title: "忙忙侠",
                  link: "https://www.6k6k.cn/",
                  img: "/logoImg/mang.png",
                  desc: "免费人工智能抠图软件",
                },
                {
                  title: "Photopea",
                  link: "https://www.photopea.com/",
                  img: "/logoImg/photopea.png",
                  desc: "Photopea | 在线 ps",
                },
                {
                  title: "稿定",
                  link: "https://ps.gaoding.com/#/",
                  img: "/logoImg/gaoding.ico",
                  desc: "【在线 PS】PS 软件网页版",
                },
                {
                  title: "iLoveIMG",
                  link: "https://www.iloveimg.com/zh-cn",
                  img: "/logoImg/iloveimg.png",
                  desc: "图像文件在线编辑工具",
                },
                {
                  title: "Bitbug",
                  link: "(https://www.bitbug.net/",
                  img: "/logoImg/bitbug.ico",
                  desc: "在线制作 ico 图标 | 在线 ico 图标转换工具 方便制作 favicon.ico - 比特虫",
                },
                {
                  title: "pixian",
                  link: "https://pixian.ai/",
                  img: "/logoImg/pixi.png",
                  desc: "抠图 Pixian.AI",
                },
                {
                  title: "PIX FIX",
                  link: "https://zh.pixfix.com/",
                  img: "/logoImg/pixi.png",
                  desc: "图片转格式，制作",
                },
                {
                  title: "TinyPNG",
                  link: "https://tinify.cn/",
                  img: "/logoImg/tinify.png",
                  desc: "智能压缩您的 WebP、JPEG 和 PNG 图片",
                },
                {
                  title: "unDraw",
                  link: "https://undraw.co/",
                  img: "/logoImg/undraw.png",
                  desc: "unDraw - Open source illustrations for any idea",
                },
                {
                  title: "bingoIcon",
                  link: "http://bingoicon.com/",
                  img: "/logoImg/bingoicon.ico",
                  desc: "图片转格式，制作",
                },
              ],
            },
          ],
        },
      ],
    };
  },
};
</script>
