<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "unscreen",
                    desc: "Remove Video Background 视频抠图",
                    link: "https://www.unscreen.com/",
                    img: "/logoImg/unscreen.png",
                  }
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  