<template>
  <div class="cllect">
    <div class="oneClass" v-for="(item, index) in list" :key="index">
      <div class="towClass" v-for="(item1, index1) in item.children" :key="i">
        <ul>
          <li v-for="(item2, index2) in item1.children" :key="index">
            <a :href="item2.link" target="_blank" :desc="item2.desc">
              <img :src="item2.img" alt=""/>
              <div class="right">
                <div class="webTitle">{{ item2.title }}</div>
                <div class="webDesc">{{ item2.desc }}</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    list: {
      type: Array,
    },
  },
};
</script>

<style>
@media screen and (max-width:768px) {
  .towClass li a{
    width: 130px !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .towClass li a .webTitle {
    font-size: 14px !important;
  }
  .towClass li a img{
    margin: 0 !important;
  }
  .towClass li a .webDesc{
    display: none !important;
  }
}
.cllect {
  width: 100%;
}
.towClass ul {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}
.towClass li {
  list-style: none;
  position: relative;
}
.towClass a::after {
  content: attr(desc);
  position: absolute;
  width: fit-content;
  height: auto;
  background-color: #000;
  display: none;
  color: whitesmoke;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  top: 0;
  transform: translateY(-100%);
}
.towClass a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -3px;
  border: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: none;
}

.towClass a:hover::after {
  display: block;
}
.towClass a:hover::before {
  display: block;
}

.towClass li a {
  /* display: inline-block; */
  width: 200px;
  height: 80px;
  background: #fff;
  margin-right: 10px;
  border-radius: 8px;
  margin-top: 10px;
  text-decoration: none !important;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  transition: all 0.1s;
  box-shadow: 5px 5px 5px rgb(200, 198, 198);
}
.towClass li a:hover {
  box-shadow: -4px -4px 10px #fff inset, 5px 5px 5px rgb(200, 198, 198) inset;
  border: none;
}

.towClass a:active {
  transform: scale(0.95);
}
.towClass li a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.towClass li a .right {
  flex: 1;
}
.towClass li a .webTitle {
  color: #333333;
  font-size: 18px;
}
.towClass li a .webDesc {
  color: gray;
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 36px;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
</style>
