<template>
  <CllectWeb :list="list" />
</template>

<script>
import CllectWeb from "../CllectWeb.vue";
export default {
  components: {
    CllectWeb,
  },
  data() {
    return {
      list: [
        {
          title: "前端",
          children: [
            {
              title: "前端框架",
              children: [
                {
                  title: "Vue2",
                  desc: "一套用于构建用户界面的渐进式框架",
                  link: "https://v2.cn.vuejs.org/",
                  img: "/logoImg/Vue.png",
                },
                {
                  title: "Vue3",
                  desc: "一款用于构建用户界面的 JavaScript 框架",
                  link: "https://cn.vuejs.org/",
                  img: "/logoImg/vue3.png",
                },
                {
                  title: "React",
                  desc: "facebook公司的一款使用jsx的前端框架",
                  link: "https://cn.vuejs.org/",
                  img: "/logoImg/react.png",
                },
                {
                  title: "uni-app",
                  link: "https://uniapp.dcloud.net.cn/",
                  desc: "一个使用 Vue.js 开发所有前端应用的框架",
                  img: "/logoImg/uniapp.png",
                },
                {
                  title: "Taro",
                  link: "https://taro-docs.jd.com/docs/",
                  img: "/logoImg/taro.png",
                  desc:'支持使用React/Vue/Nerv等框架来开发小程序'
                },
              ],
            },
          ],
        },
      ],
    };
  },
};
</script>
