<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "Npmjs",
                    desc: "依赖包发布下载的网站",
                    link: "https://www.npmjs.com/",
                    img: "/logoImg/npm.png",
                  },
                  {
                    title: "Mock",
                    link: "http://mockjs.com/",
                    img: "/logoImg/mock.jpg",
                    desc:'生成随机数据，拦截 Ajax 请求'
                  },
                  {
                    title: "Ahooks",
                    link: "https://ahooks.js.org/zh-CN/hooks/use-request/index",
                    img: "/logoImg/ahooks.png",
                    desc:'是一套高质量可靠的 React Hooks 库'
                  },
                  {
                    title: "Lodash",
                    link: "https://www.lodashjs.com/",
                    img: "/logoImg/lodash.png",
                    desc:'Lodash 是一个一致性、模块化、高性能的 JavaScript 实用工具库'
                  },
                  {
                    title: "Aicolors",
                    link: "https://aicolors.co/",
                    img:'/logoImg/Aicolors.png',
                    desc:'Ai智能配色'
                  },
                  {
                    title: "Moment",
                    link: "https://moment.nodejs.cn/",
                    img:'/logoImg/moment.png',
                    desc:'在 JavaScript 中解析、校验、操作、显示日期和时间'
                  },
                  {
                    title: "Dayjs",
                    link: "https://dayjs.fenxianglu.cn/",
                    img:'/logoImg/dayjs.png',
                    desc:'为现代浏览器解析、验证、操作和显示日期和时间'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  