<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "Element",
                    desc: "适用于Vue2的pc端ui开发框架",
                    link: "https://element.eleme.cn/#/zh-CN",
                    img: "/logoImg/element+.png",
                  },
                  {
                    title: "Element Plus",
                    link: "https://element-plus.org/zh-CN/",
                    img: "/logoImg/element+.png",
                    desc:'适用于Vue3的pc端ui开发框架'
                  },
                  {
                    title: "Ant Design",
                    link: "https://ant.design/index-cn",
                    img: "/logoImg/Antd.png",
                    desc:'适用于React的pc端ui开发框架'
                  },
                  {
                    title: "AntD Mobile",
                    link: "https://mobile.ant.design/zh/",
                    img: "/logoImg/antdm.png",
                    desc:'适用于React的移动端端ui开发框架'
                  },
                  {
                    title: "Vant",
                    link: "http://vant-contrib.gitee.io/vant/#/zh-CN",
                    img:'/logoImg/vant.png',
                    desc:'Vant 是一个轻量、可定制的移动端组件库'
                  },
                  {
                    title: "Layui",
                    link: "https://layui.dev/",
                    img:'/logoImg/Layui.png',
                    desc:'极简模块化 Web UI 组件库'
                  },
                  {
                    title: "iView",
                    link: "https://www.iviewui.com/",
                    img:'/logoImg/iView.png',
                    desc:'基于 Vue.js 3 的企业级 UI 组件库和中后台系统解决方案'
                  },
                  {
                    title: "Naive UI",
                    link: "https://www.naiveui.com/zh-CN/os-theme",
                    img:'/logoImg/Naive.png',
                    desc:'一个 Vue 3 组件库比较完整，主题可调，使用 TypeScript，快有点意思'
                  },

                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  