<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "Staticfile CDN",
                    desc: "我们的目标是提供这样一个仓库，让它尽可能全面收录优秀的开源库，并免费为之提供 CDN 加速服务",
                    link: "http://staticfile.org/",
                    img: "/logoImg/staticfile.png",
                  },
                  {
                    title: "BootCDN",
                    desc: "稳定、快速、免费的前端开源项目 CDN 加速服务 CDN 加速服务",
                    link: "https://www.bootcdn.cn/",
                    img: "/logoImg/bootcnd.ico",
                  },
                  {
                    title: "cdnjs",
                    desc: "Simple. Fast. Reliable.Content delivery at its finest. CDN 加速服务",
                    link: "https://cdnjs.com/",
                    img: "/logoImg/cdnjs.png",
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  