<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "韩小韩Api接口",
                    desc: "韩小韩 API 接口站 - 免费 API 数据接口调用服务平台",
                    link: "https://api.vvhan.com/",
                    img: "/logoImg/hanxiaohan.ico",
                  },
                  {
                    title: "和风天气",
                    link: "https://dev.qweather.com/docs/api/",
                    img: "/logoImg/hefeng.png",
                    desc:'开发文档 | 和风天气开发服务'
                  },
                  {
                    title: "随机一句情话",
                    link: "https://blog.mcloc.cn/archives/604.html",
                    img: "/logoImg/xiaoma.webp",
                    desc:'随机一句情话 API - 小马奔腾的博客'
                  },
                  {
                    title: "高德天气",
                    link: "https://lbs.amap.com/api/webservice/guide/api/weatherinfo/",
                    img: "/logoImg/gaode.ico",
                    desc:'天气查询-API 文档-开发指南-Web 服务 API | 高德地图 API '
                  },
                  {
                    title: "心知天气",
                    link: "https://seniverse.yuque.com/hyper_data/datasets/start?",
                    img: "/logoImg/hexin.png",
                    desc:'HyperData 数据产品简介 🚀'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  