<template>
  <CllectWeb :list="list" />
</template>

<script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "iconFont",
                    desc: "千万矢量图免费用",
                    link: "https://www.iconfont.cn/",
                    img: "/logoImg/iconfont.png",
                  },
                  {
                    title: "IconPark",
                    link: "https://iconpark.oceanengine.com/home",
                    img: "/logoImg/iconpark.png",
                    desc:'丰富多彩的资源库免费使用'
                  },
                  {
                    title: "Remix Icon",
                    link: "https://remixicon.com/?ref=dartools.com",
                    img: "/logoImg/remix.ico",
                    desc:'为设计人员和开发人员精心制作的开源中性风格系统符号。所有图标都是免费的，可用于个人和商业用途。'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
</script>
