<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "jeeweixin",
                    desc: "专注 Java 编程实战，微信开发 ",
                    link: "http://jeeweixin.com/",
                    img: "/logoImg/jeeweixin.png",
                  },
                  {
                    title: "MDN",
                    link: "https://developer.mozilla.org/zh-CN/docs/Web",
                    img: "/logoImg/mdn.png",
                    desc:'Web 开发技术 | MDN'
                  },
                  {
                    title: "w3school",
                    link: "https://www.w3school.com.cn/",
                    img: "/logoImg/w3school.png",
                    desc:'w3school 在线教程'
                  },
                  {
                    title: "菜鸟教程",
                    link: "https://www.runoob.com/",
                    img: "/logoImg/runoob.png",
                    desc:'菜鸟教程 - 学的不仅是技术，更是梦想！'
                  },
                  {
                    title: "狂神说",
                    link: "https://www.kuangstudy.com/",
                    img: "/logoImg/kuangshen.ico",
                    desc:'首页-KuangStudy'
                  },
                  {
                    title: "Joe",
                    link: "https://78.al/",
                    img: "/logoImg/joe.png",
                    desc:'Joe 的博客-记录与学习前端知识'
                  },
                  {
                    title: "博客园",
                    link: "https://www.cnblogs.com/",
                    img: "/logoImg/bokeyuan.png",
                    desc:'博客园 - 开发者的网上家园 '
                  },
                  {
                    title: "Java全栈知识",
                    link: "https://pdai.tech/",
                    img: "/logoImg/javaquan.ico",
                    desc:'Java 全栈知识体系 '
                  },
                  
                  {
                    title: "极客教程",
                    link: "https://geek-docs.com/",
                    img: "/logoImg/geek.ico",
                    desc:'极客教程 - 以工匠精神打磨精品教程'
                  },
                  {
                    title: "Coco‘s home",
                    link: "https://csscoco.com/",
                    img: "/logoImg/coco.png",
                    desc:'Coco‘s home'
                  },
                  {
                    title: "秋天爱美丽",
                    link: "http://qiutianaimeili.com/",
                    img: "/logoImg/qiutian.png",
                    desc:'秋天爱美丽'
                  },
                  {
                    title: "前端面试宝典",
                    link: "https://fe.ecool.fun/",
                    img: "/logoImg/mianshi.jpg",
                    desc:'首页 - 前端面试题宝典 '
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  