<template>
    <CllectWeb :list="list"/>
  </template>
  
  <script>
  import CllectWeb from "../CllectWeb.vue";
  export default {
    components: {
      CllectWeb,
    },
    data() {
      return {
        list: [
          {
            title: "前端",
            children: [
              {
                title: "前端框架",
                children: [
                  {
                    title: "snippet",
                    desc: "vscode快速设置代码块",
                    link: "https://snippet-generator.app/",
                    img: "/logoImg/snippet.png",
                  },
                  {
                    title: "在线工具箱",
                    link: "https://tools.fun/index.html",
                    img: "/logoImg/toolsfun.png",
                    desc:'在线工具箱 - 要你命 3000'
                  },
                  {
                    title: "菜鸟工具",
                    link: "https://c.runoob.com/",
                    img: "/logoImg/runoobtool.ico",
                    desc:'菜鸟工具 - 不止于工具'
                  },
                  {
                    title: "Can I Use",
                    link: "https://caniuse.com/",
                    img: "/logoImg/caniuse.png",
                    desc:'查看Api在各大浏览器的兼容性'
                  },
                  {
                    title: "CodeIf",
                    link: "https://unbug.github.io/codelf/",
                    img: "/logoImg/codeif.png",
                    desc:'智能给变量命名'
                  },
                  {
                    title: "fancy radius",
                    link: "https://9elements.github.io/fancy-border-radius/",
                    img: "/logoImg/radius.png",
                    desc:'可以自定义任何形式的圆角边框'
                  },
                  {
                    title: "Neumorphism",
                    link: "https://neumorphism.io/#e0e0e0",
                    img: "/logoImg/neumor.ico",
                    desc:'可以自定义任何形式的盒子阴影'
                  },
                ],
              },
            ],
          },
        ],
      };
    },
  };
  </script>
  